<a href="https://colab.research.google.com/github/Rizwanali324/Athlete_Ferritin_Projection/blob/Analysis/Chi_square_test_for_independence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive


# Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Define the file path
file_path = '/content/drive/MyDrive/Datasets/Athlete Data.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

In [4]:
df.sample(5)

,Sex,Sport,RCC,WCC,Hc,Hg,Ferr,BMI,SSF,%Bfat,LBM,Ht,Wt
58,female,Swim,4.36,5.5,41.4,13.8,82,22.42,71.3,14.52,55.39,170.0,64.8
17,female,Row,4.51,8.3,43.7,14.7,34,21.27,69.9,18.04,56.31,179.7,68.7
103,male,Swim,5.17,4.1,44.9,15.0,76,23.15,50.9,8.56,80.00,194.4,87.5
29,female,Row,4.57,6.6,42.8,14.5,85,20.81,113.5,21.47,52.78,179.7,67.2
156,male,TSprnt,5.13,4.0,44.1,15.2,87,21.65,33.7,6.56,66.00,180.2,70.3

In [5]:
df.isnull().sum()

Sex      0
Sport    0
RCC      0
WCC      0
Hc       0
Hg       0
Ferr     0
BMI      0
SSF      0
%Bfat    0
LBM      0
Ht       0
Wt       0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     202 non-null    object
 1   Sport   202 non-null    object
 2   RCC     202 non-null    float64
 3   WCC     202 non-null    float64
 4   Hc      202 non-null    float64
 5   Hg      202 non-null    float64
 6   Ferr    202 non-null    int64
 7   BMI     202 non-null    float64
 8   SSF     202 non-null    float64
 9   %Bfat   202 non-null    float64
 10  LBM     202 non-null    float64
 11  Ht      202 non-null    float64
 12  Wt      202 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 20.6+ KB

In [7]:
from scipy.stats import chi2_contingency

# Create a contingency table
contingency_table = pd.crosstab(df['Sport'], df['Sex'])

# Display the contingency table
print("Contingency Table:")
print(contingency_table)

# Perform the Chi-square test for independence
chi2, p, dof, expected = chi2_contingency(contingency_table)

# Print the results
print("\nChi-square test statistic:", chi2)
print("P-value:", p)
print("Degrees of freedom:", dof)
print("\nExpected frequencies table:")
print(pd.DataFrame(expected, index=contingency_table.index, columns=contingency_table.columns))

# Interpret the results
alpha = 0.05
print("\nSignificance level:", alpha)
if p < alpha:
    print("Reject the null hypothesis. There is a significant association between Sport and Sex.")
else:
    print("Fail to reject the null hypothesis. There is no significant association between Sport and Sex.")

Contingency Table:
Sex      female  male
Sport
BBall        13    12
Field         7    12
Gym           4     0
Netball      23     0
Row          22    15
Swim          9    13
T400m        11    18
TSprnt        4    11
Tennis        7     4
WPolo         0    17

Chi-square test statistic: 53.16730017177713
P-value: 2.7169782922172503e-08
Degrees of freedom: 9

Expected frequencies table:
Sex         female       male
Sport
BBall    12.376238  12.623762
Field     9.405941   9.594059
Gym       1.980198   2.019802
Netball  11.386139  11.613861
Row      18.316832  18.683168
Swim     10.891089  11.108911
T400m    14.356436  14.643564
TSprnt    7.425743   7.574257
Tennis    5.445545   5.554455
WPolo     8.415842   8.584158

Significance level: 0.05
Reject the null hypothesis. There is a significant association between Sport and Sex.